@use '@carbon/layout';
@use '@carbon/type';
@use '@openmrs/esm-styleguide/src/vars' as *;

.labelText {
  @include type.type-style('label-01');
}

.bodyShort02 {
  @include type.type-style('body-compact-02');
}

.searchBox {
  margin-bottom: layout.$spacing-05;
}

.relationshipHeader {
  display: flex;
  align-items: center;
}

.productiveHeading {
  @include type.type-style('heading-compact-02');
  color: $text-02;
}

.trashCan {
  color: $danger !important;
}

:global(.omrs-breakpoint-lt-desktop) {
  .relationshipHeader {
    justify-content: space-between;
  }
}
