@use '@carbon/layout';
@use '@carbon/type';
@use '@openmrs/esm-styleguide/src/vars' as *;

.section {
  margin: layout.$spacing-03;
}

.form {
  display: grid;
  gap: 1.5rem;
  padding-top: 1rem;
}

.toolbarMenuAction {
  max-width: none;
}
