.filterContainer {
  :global(.cds--dropdown__wrapper--inline) {
    gap: 0;
  }

  :global(.cds--list-box__menu-icon) {
    height: 1rem;
  }

  :global(.cds--dropdown--inline) :global(.cds--list-box__field) {
    min-width: 12rem;
  }
}
