@use '@carbon/colors';
@use '@carbon/layout';
@use '@carbon/type';

.packingTable {
  min-height: 15rem;
  display: block;
}

.packingTableCell {
  display: flex;
  align-items: center;
}

.packagingTableBody {
  min-height: layout.$spacing-13;
}

.packagingTableContainer {
  padding-bottom: 1rem;
  min-height: 15rem;
  display: block;

  :global(.cds--data-table-content) {
    overflow-x: visible;
  }
}

.searchAndSave {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  .submitButton {
    margin-top: 1rem;
  }
}

.deleteModal {
  :global(.cds--modal-container.cds--modal-container--sm) {
    :global(.cds--modal-content) {
      :global(.cds--form-item) {
        margin-top: 1rem;
      }
    }
  }
}

.packageUnitsBtn {
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;
}

:global(cds--form-item) {
  margin-top: 1rem;
}
