.customTile {
  background-color: #f0f0f0;
  border-radius: 4px;
  padding: 20px;
  width: 50px;
  height: 100px;
  text-align: center;
  margin: 2px;
}

.customTileTitle {
  font-size: 14px;
  color: #333;
}
