# .env file
# Application for environment variables 

# Reference Application Variables
#TAG=3.2.1-rc.3
#OPENMRS_DB_USER=
#OPENMRS_DB_PASSWORD=
#OPENMRS_DB_PASSWORD=
#OMRS_DB_R_USER=
#OMRS_DB_R_PASSWORD=
#MYSQL_ROOT_R_PASSWORD=
