@use '@carbon/layout';
@use '@openmrs/esm-styleguide/src/vars' as *;

.button {
  height: layout.$spacing-10;
  display: flex;
  align-content: flex-start;
  align-items: baseline;
  min-width: 50%;
}

.tablet {
  padding: layout.$spacing-06 layout.$spacing-05;
  background-color: $ui-02;
}

.desktop {
  padding: 0;
}

.radioGroup {
  background-color: $ui-01;
  padding: layout.$spacing-05;
}

.radioButton {
  margin: 0 !important;
  label {
    height: layout.$spacing-07;
  }
}

.space05 {
  margin: layout.$spacing-05 0;
}

:global(.omrs-breakpoint-lt-desktop) {
  .radioButton label {
    height: layout.$spacing-09 !important;
  }
}
