@use '@carbon/colors';
@use '@carbon/layout';
@use '@carbon/type';

.referencesTable {
  min-height: 15rem;
  display: block;
}

.referencesTableCell {
  display: flex;
  align-items: center;
}

.referencesTableBody {
  min-height: layout.$spacing-13;
}

.referencesTableContainer {
  min-height: 15rem;
  display: block;
}
