Section: misc
Priority: optional
Homepage: http://openmrs.org
Package: openmrs
Version: 99999
Maintainer: OpenMRS Developer Community <dev@openmrs.org>
Depends: tomcat6, mysql-server
Architecture: all
Description: An enterprise electronic medical record system framework
 A community-developed, open-source, enterprise electronic medical
 record system framework. We've come together to specifically respond
 to those actively building and managing health systems in the
 developing world, where AIDS, tuberculosis, and malaria afflict the
 lives of millions. Our mission is to foster self-sustaining health
 information technology implementations in these environments through
 peer mentorship, proactive collaboration, and a code base that
 equals or surpasses proprietary equivalents. You are welcome to
 come participate in our community, whether by implementing our
 software, or contributing your efforts to our mission!
