@use '@carbon/colors';
@use '@carbon/layout';
@use '@carbon/type';

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  bottom: 0;
  padding: layout.$spacing-01;
  justify-content: center;
}

.itemFooter {
  padding: layout.$spacing-01 layout.$spacing-05;
  @include type.type-style('body-compact-02');
  color: colors.$cool-gray-90;
}

.footDescription {
  @include type.type-style('legal-01');
  padding: layout.$spacing-01 layout.$spacing-05;
  color: colors.$cool-gray-70;
}
