@use '@carbon/layout';
@use '@carbon/type';
@use '@openmrs/esm-styleguide/src/vars' as *;

.section {
  margin: layout.$spacing-03;
}

.sectionTitle {
  @include type.type-style('heading-compact-02');
  color: $text-02;
  margin-bottom: layout.$spacing-04;
}

.subTitle {
  font-size: 14px;
  margin-bottom: layout.$spacing-04;
}

.modalBody {
  padding-bottom: layout.$spacing-05;
}

.checkboxGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Adjust the values as needed */
  gap: 16px; /* Adjust the gap between checkboxes */
  align-items: center;
}

.hr {
  border: 1px solid #000;
}

.toggle {
  margin: 5px;
}

.checkbox {
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.form {
  margin: layout.$spacing-05;
}

.buttonSet {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.button {
  height: layout.$spacing-10;
  display: flex;
  align-content: flex-start;
  align-items: baseline;
  min-width: 50%;
}

.tablet {
  padding: layout.$spacing-06 layout.$spacing-05;
  background-color: white;
}

.desktop {
  padding: 0;
}

.flexRow {
  display: flex;
  align-items: center;
}
