:root 
{
    
    --color-darkBlue: #2E1E91;
    --color-gray:#7F7B92;
    --color-white:#FFFFFF;
    --color-offWhite:#FAF9FF;
    --color-darkestBlue:#1B163A;
    --color-red:#FF475D;
    --color-green:#0FD197;
    --color-lightPink: #FFE8E8;
    --color-lightGray: #EFE8FF;
    --color-black: #000000;
    --color-lightRed: #EA315B;

    --font-family:'DM Sans';
    --font-style:'normal';
}