@use '@carbon/layout';
@use '@carbon/type';
@use '@carbon/colors';
@use '@openmrs/esm-styleguide/src/vars' as *;

.cardContainer {
  background-color: colors.$white;
  display: flex;
  flex-flow: row wrap;
  gap: layout.$spacing-05;
  justify-content: space-between;
  padding: layout.$spacing-05;
}

.errorStateContainer {
  padding: layout.$spacing-05;
}
