@use '@carbon/layout';

.filterTrigger {
  white-space: nowrap;
}

.popoverContent {
  padding: layout.$spacing-05;
  max-width: 16rem;
}

.filterPanel {
  display: flex;
  flex-direction: column;
  gap: layout.$spacing-05;
}
