Section: misc
Priority: optional
Homepage: http://openmrs.org
Standards-Version: 1.0
Package: openmrs-reference-application
Version: 1.9.555
Maintainer: Your Name <yourname@example.com>
Depends: tomcat6, mysql-server
Architecture: all
Copyright: <copyright file; defaults to GPL2>
Description: <short description; defaults to some wise words>
 long description and info
 .
 second paragraph
